#primary {
    padding-block: 20px;
    font: var(--text);

    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    div:nth-child(2) {
        justify-self: center;
        
    }

    div:nth-child(3) {
        justify-self: end;
    }
}

#secundary {
    padding-block: 14px;
    border: 1px solid var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}
